@-ms-viewport {
  width: device-width;
}

html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  height: 100vh;
  /* grid-template-rows: auto 1fr 1fr 1fr auto; */
  grid-template-rows: auto;
}

main {
  width: 100%;
}

a {
  text-decoration: none;
}

img {
  width: 55vh;
  border-radius: 10px;
}

/* img:hover {
  transform: scale(1.2);
  transition: transform 2s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  overflow: hidden;
} */

header {
  background: #00072b;
  padding: 1rem;
  background-image: url("../assets/img/header_background.jpg");
  /* Parallax Effect */
  background-blend-mode: overlay;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background: #00072b;
  padding: 2rem;
  text-align: center;
  color: #fe03a6;
}

body {
  font-family: calibri;
}
